@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* Background */
  .egl-bg-md {
    @apply bg-light-600 dark:bg-dark-800 text-dark-400 dark:text-light-600;
  }

  .bg-sm {
    @apply bg-light-500 dark:bg-dark-700 text-dark-400 dark:text-light-600;
  }

  .bg-xs {
    @apply bg-light-400 dark:bg-dark-500 text-dark-400 dark:text-light-600;
  }

  /* Text */
  .text-lg {
    @apply text-dark-800 dark:text-light-200;
  }

  .text-md {
    @apply text-dark-600 dark:text-light-500;
  }

  .text-sm {
    @apply text-dark-300 dark:text-light-700;
  }

  /* Shadow */
  .egl-shadow-lg {
    @apply shadow-lg shadow-dark-500/20 dark:shadow-secondary-800/10;
  }

  /* Gradient */
  .gradient-to-r-md {
    @apply bg-gradient-to-r from-dark-500/80 dark:from-secondary-900/80;
  }

  .gradient-to-r-sm {
    @apply bg-gradient-to-r from-dark-500/50 dark:from-secondary-900/50;
  }

  .gradient-to-r-xs {
    @apply bg-gradient-to-r from-dark-500/30 dark:from-secondary-900/30;
  }

  .gradient-to-r-general-xs {
    @apply bg-gradient-to-r from-dark-500/30 dark:from-gray-600/30;
  }

  /* Border */
  .border-md {
    @apply border-dark-400/50;
  }
}

/* Custom CSS */

/* Disable text & image selection globally */
* {
  user-select: none;
  -webkit-user-drag: none;
}

input, textarea {
  user-select: text;
}

/* Scroller */
/* ::-webkit-scrollbar {
  width: 0px;
} */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #00171d;
}
::-webkit-scrollbar-thumb {
  background: #167d0f;
  border-radius: 10px;
}

